:root {
  --background: #f5f7fb;
  --foreground: #0f172a;

  --card: rgba(255, 255, 255, 0.75);
  --card-border: rgba(15, 23, 42, 0.06);

  --sidebar: rgba(255,255,255,0.85);
  --sidebar-border: rgba(15,23,42,0.06);

  --muted: #64748b;
  --primary: #0f172a;

  --hover: rgba(15,23,42,0.04);
}

.dark {
  --background: #050505;
  --foreground: #fafafa;

  --card: rgba(255,255,255,0.03);
  --card-border: rgba(255,255,255,0.05);

  --sidebar: #080808;
  --sidebar-border: rgba(255,255,255,0.05);

  --muted: #a1a1aa;
  --primary: #fafafa;

  --hover: rgba(255,255,255,0.04);
}


